[submodule "kvsns"]
	path = kvsns
	url = ssh://git@gitlab.mero.colo.seagate.com:6022/eos/fs/kvsns.git
[submodule "kvsfs-ganesha"]
	path = kvsfs-ganesha
	url = ssh://git@gitlab.mero.colo.seagate.com:6022/eos/fs/kvsfs-ganesha.git
