# Globals ----------------------------------------------------------------- {{{1
#

variables:
  GIT_DEPTH: 1  # clone only the current commit
  GIT_STRATEGY: clone  # make a fresh `git clone` of the repo for every new CI job
  GIT_SUBMODULE_STRATEGY: normal  # init and check out submodules
  CENTOS_RELEASE: eos
  M0_VG_NO_SYMLINKS: 'true'
  WORKSPACE_NAME: "${CI_PROJECT_NAME}${CI_PIPELINE_ID}"
  WORKSPACE_DIR:  "/home/gitlab-runner/workspaces/${CI_PROJECT_NAME}${CI_PIPELINE_ID}"

stages:
  - build

before_script:
  - date -u -Isec
  - git --no-pager log -1 --pretty=fuller
  - printenv

after_script:
  - date -u -Isec


# Build ------------------------------------------------------------------- {{{1
#

build:
  stage: build
  tags: [ docker-build ]
  except: [ tags ]
  image: registry.gitlab.motr.colo.seagate.com/eos/fs/eos-fs:$CENTOS_RELEASE
  script: |
    # TODO: replace BCURRENT with BLATEST when it's ready
    export LATEST_RELEASE_DIR="$(readlink -f /releases/eos/BCURRENT)"
    yum install -y $LATEST_RELEASE_DIR/eos-core{,-devel}-[0-9]*.rpm
    time QA_RPATHS=255 ./jenkins/build.sh -p /root/nfs-ganesha-eos -v $(cat VERSION) -b 0


# Docker images ----------------------------------------------------------- {{{1
#

docker:rebuild-images:
  stage: build
  tags: [ docker-image-build ]
  when: manual
  except: [ schedules ]

  variables:
    DOCKER_IMAGE_TAG: 7

  script:
    - make -C docker/ docker-image-$DOCKER_IMAGE_TAG
    - make -C docker/ push tag="${DOCKER_IMAGE_TAG}"


docker:rebuild-images:76:
  extends: docker:rebuild-images
  variables:
    DOCKER_IMAGE_TAG: '7.6'


docker:rebuild-images:eos:
  extends: docker:rebuild-images
  variables:
    DOCKER_IMAGE_TAG: eos


# vim: foldmethod=marker shiftwidth=2 tabstop=2 expandtab
